<!DOCTYPE html>
<html>

    <head>
        <title>Bruno Victor</title>
        <!--SERVE PARA ESCREVER O NOME NA ABA-->

        <link rel="stylesheet" href="/css/sobre.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a target="_blanl" href="file:///C:/Users/Bruno%20Victor/Desktop/IHC-ESAMC/aula1/sobre.html">Sobre</a>
                <a target="_blank" href="file:///C:/Users/Bruno%20Victor/Desktop/IHC-ESAMC/aula1/familia.html">Família</a>
                <a target="_blank" href="file:///C:/Users/Bruno%20Victor/Desktop/IHC-ESAMC/aula1/amigo.html">Amigos</a>

    <!--<link rel="stylesheet" href="/css/sobre.css">!-->
        <div id="wrapper">
            <img src="/images/1.png.png" alt="Bruno">
            <h1>Bruno Victor Da Silva Vicente</h1>
            <h2>
                Ninguém é sábio demais que não tenha o que aprender e nem leigo demais que não tenha o que ensinar.</h2>
            <p>Atualmente exerço a função de Eletricista e Pintor.Busco uma oportunidade de estágio na área de TI no
                <a href="http://www.google.com.br/" target="_blank">Google</a>,
                <a href="https://www.facebook.com.br" target="blank">Facebook</a>
                e
                <a href="http://www.oracle.com.br" target="blank">Oracle</a>
                entre outras empresas de Tecnologia</p>
        </div>
        <section class="form">
            <h2>Me contrata!Sou um ótimo profissional</h2>
    
            <button>Quero Contratar ou indicar
            </button>
        </form>
    </section>
    
    <div id="links-footer" class="links">
    
        <a href="https://www.facebook.com/bruno.victor.581" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a>
        <footer>
            Realizado 💻 Bruno Victor.</footer>
    </div>
    
    <!--<div id="wrapper"> <img src="1.png.png" alt="Bruno"> <h1>Bruno Victor Da Silva Vicente</h1> <h2> Ninguém é sábio demais que não tenha o que aprender e nem leigo demais que não tenha o que ensinar.</h2> <p>Atualmente exerço a função de Eletricista e Pintor.Busco uma oportunidade de estágio na área de TI no <a href="http://www.google.com.br/" target="_blank">Google</a>, <a href="https://www.facebook.com.br" target="blank">Facebook</a> e <a href="http://www.oracle.com.br" target="blank">Oracle</a> entre outras empresas de Tecnologia</p> </div> <section class="form"> <h2>Me contrata!Sou um ótimo profissional</h2> <button>Quero Contratar ou indicar </button> </form> </section> <div id="links-footer" class="links"> <a href="https://www.facebook.com/bruno.victor.581" target="_blank">Facebook</a> <a href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a> <footer> Realizado 💻 Bruno Victor.</footer> </div>-->
    
</html>